.container {
    width: min(1100px, 100%);
    margin: 25px auto;
}

.title {
    padding: 8px 12px;

    background: #c90000;
    color: white;

    font-size: 17px;
    font-weight: 700;

    border-radius: 7px 7px 0 0;
}

.table {
    width: 100%;
    border-collapse: collapse;

    font-size: 14px;
}

.table th {
    padding: 8px 12px;

    background: #28639a;
    color: white;

    font-size: 15px;
    font-weight: 700;

    text-align: center;

    border: 1px solid #444;
}

.table td {
    padding: 7px 10px;

    border: 1px solid #777;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    text-align: right;
    font-weight: 600;
}

.incidente {
    background: #f6c7cc;
}

.abierto {
    background: #ffeaa3;
}

.cerrado {
    background: #c5ebce;
}

.cerrado td {
    font-weight: 700;
}