.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 30px;
    background:white;
    border-bottom:1px solid #dcdcdc;
}

.logoLeft{
    width:180px;
    display:flex;
    justify-content:flex-start;
}

.logoRight{
    width:180px;
    display:flex;
    justify-content:flex-end;
}

.center{
    flex:1;
    text-align:center;
}

.center h1{
    margin:0;
    font-size:28px;
    color:#2b8179;
}

.center p{
    margin-top:6px;
    color:#666;
    font-size:14px;
}