/* OCASA + logo */
.logoTextRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Texto principal OCASA */
.ocasaTitle {
  font-family: "Bahnschrift SemiCondensed", "Bahnschrift", sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  letter-spacing: -0.5px;
  margin: 0;

  margin-left: 20%;
}

/* Logo animado */
.ocasaLogo {
  margin-top: -5px;
  width: 40px;
  height: 40px;
  animation: logoPause 7.5s infinite;
  transform-style: preserve-3d;  
}

@keyframes logoPause {
  0%, 66.6% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
